<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICSharpCode.XamlDesigner.Configuration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ICSharpCode.XamlDesigner.Configuration.Settings>
            <setting name="MainWindowRect" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>           
            <setting name="AssemblyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%ProgramFiles%\Reference Assemblies\Microsoft\Framework\v3.0\PresentationFramework.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
        </ICSharpCode.XamlDesigner.Configuration.Settings>
    </userSettings>
</configuration>