<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net45" />
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="2.5.6000" targetFramework="net45" />
  <package id="ICSharpCode.WpfDesigner" version="1.0.15" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock" version="2.8.15465.16500" targetFramework="net45" />
</packages>